#body {
	font-family:Helvetica,Futura,Arial,Verdana,sans-serif;
	font-size: 0.85em;
	text-align: center;
	/*background-color: #EEE;*/
	background-image: url("../img/premio.jpg");
}
/********************
 *
 * Banner
 *
 ********************/
#banner {
	float: left;
	font-size: 2em;
	font-weight: bold;
}

#banner a {
	color: #BBB;
	display: block;
	padding: 10px 15px;
}

#banner a:hover {
	background-color: rgba(175, 175, 175, 0.2);
	color: #DDD;
}
/********************
 *
 * Menu (wrapper)
 *
 ********************/
.menu-wrap {
	background-color: #000;
	color: #FFF;
	margin-bottom: 1px;
	overflow: hidden;
}

.menu-wrap.user{
	background-color: #101010;
}
/********************
 *
 * Menu (general)
 *
 ********************/
.menu {
	overflow: hidden;
}
.menu#user {
	float: right;
	padding: 5px;
	margin-right: 5%;
}
.menu#main {
	display:inline-block;
	margin: 0 0 -1px 0;
}
.menu > ul > li {
	float: left;
	border-top: 1px solid #303030;
	border-bottom: 1px solid #303030;
	border-left: 1px solid #303030
}
.menu > ul > li:last-child {
	border-right: 1px solid #303030
}
.menu > ul > li > ul > li {
	border-top: 1px solid #202020;
}
.menu > ul > li ul {
	display: none;
	position: absolute;
	text-align: left;
}
.menu li {
	min-width: 93px
}
.menu LI A {
	display: block;
	background: #000;
	color: #BBB;
	padding: 10px
}
.menu LI A:hover {
	background: #252525;
	color: #FFF
}
.menu > ul > li > a {
	cursor: default
}
.menu > ul > li > a:link {
	cursor: pointer
}

#footer {
	color: #CCC;
	padding: 10px;
	cursor: default
}

#footer A:link, #footer A:visited{color: #CCC;}
#footer A:active, #footer A:hover{color: #FFF;}
/********************
 *
 * Wrappers (general)
 *
 ********************/
#wrapper {
	margin: auto;
	overflow: hidden;
	padding: 10px 0;
	width: 90%;
	height: 700px
}
#center {
	float: left;
	width: 70%;
}
#side {
	float: left;
	width: 30%;
}
#center > div, #side > div{
	background-color: #FFF;
	border: 1px solid #DEDEDE;
	margin: 10px 7px;
	padding: 10px;
	overflow: hidden;
}
#center h2 {
	border-color: #DFDFDF;
	border-style: solid;
	border-width: 0 0 1px 1px;
	cursor: default;
	margin-top: 20px;
	padding: 0px 0 3px 10px;
	text-align: left;
	font-size: 1.5em;
}
#center h3 {
	border-color: #DFDFDF;
	border-style: solid;
	border-width: 0 1px 1px 1px;
	cursor: default;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 10px;
	padding: 5px 0 5px 0;
	width: 30px;
}
#side h2 {
	border-bottom: 1px solid #DFDFDF;
	margin-left: 0;
	margin-top: 5px;
	padding: 0 0 10px 0;
	width: 100%;
}
#side ul li {
	padding: 0.7em;	
}

